{{extend 'layout.html'}}


<div class="jumbotron jumbotron-fluid">
<div class="container">
<img src="{{ =URL('static', 'images/logo.png') }}"/>
  <h1>SplinterLink</h1>
  <p class="lead">Porque no te pod&eacute;s acordar de todos los sitios porno.</p>
  <hr class="my-4">
  <p>Este sitio utiliza una tecnolog&iacute;a demasiado compleja como para explicarla. Las credenciales son administradas por el Gran Bonete.</p>
  <p class="lead">
    <a class="btn btn-primary btn-lg" href="{{ =URL('button','show') }}" role="button">Empezar a Utilizar SplinterLink</a>
  </p>
</div>
</div>
